@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;$
	
}


/**** Basics ****/
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: white;
}
h1 {
	font-size: 2.8rem;
	line-height: 1.3;
	margin: 0 0 2.5rem 0;
	width: 100%;
}
h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin: 0 0 1.5rem 0;
    font-weight: bold;
}
h3 {
	font-size: 2rem;
	margin: 0 0 1.25rem 0;
}
p {
	font-size: 2rem;
	line-height: 1.4;
	margin: 0 0 2.5rem 0;
}
div p:last-of-type {
	margin: 0;
}
a {
	color: white;
}
img {
	object-fit: cover;
    	min-height: 100%;
   	 max-width: 100%;
}
.logo a {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    position: fixed;
    top: 10vh;
    left: 3.1%;
    text-align: center;
}

/**** Nav ****/

.nav {
	background-color: #479e82;
    	position: fixed;
    	/*height: 21.5rem;*/
    	width: 100%;
}

.nav-row-1 {
	width: 100%;
	height: 8vh;
	border-bottom: solid 4px white;
	display: flex;
	flex-direction: row;
}
.nav-row-2 {
	width: 100%;
	height: 15vh;
	border-bottom: solid 4px white;
	display: flex;
	flex-direction: row;
}
.nav-col-1 {
	min-width: 39.5%;
	width: auto;
	border-right: 2px solid white;
	display: flex;
	flex-direction: row;
}
.nav-col-2 {
	min-width: 60.5vw;
	width: 100%;
	border-left: 2px solid white;
	display: flex;
    	justify-content: space-between;
	padding-bottom: 1rem;
}
nav {
	display: flex;
    	justify-content: space-between;
    	position: relative;
    	height: 100%;
    	width: 100%;
	margin-right: 5rem;
}
.main-navbar {
	width: 66%;
	height: 100%;
	flex-wrap: wrap;
}
.main-navbar ul {
	display: flex;
	margin: 0;
	padding-left: 3rem;
	list-style: none;
	justify-content: space-between;
	width: 75%;
	height: 100%;
}
.main-navbar ul li {
	height: 100%;
	position: relative;
}
.number-navbar {
	color: white;
	display: flex;
  	align-items: baseline;
  	flex-direction: column;
  	justify-content: flex-end;
  	font-size: 1rem;
}

.number-navbar a {
	display: flex;
	align-items: baseline;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
}
.number-navbar a{
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.number-navbar a p {
	margin: 0;
}
.number-navbar a p:last-child {
	font-weight: 400;
    line-height: 1.5;
}
nav ul li {
	display: flex;
	align-items: flex-end;
	position: relative;
}
.active::before {
content: "";
    width: 2rem;
    height: 2rem;
    background-image: url(/assets/img/tennisball.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -2.5rem;
	bottom: 1rem;
}
ul.mydiv li:hover::before {
	content: "";
	width: 2rem;
	height: 2rem;
	background-image: url(/assets/img/tennisball.svg);
	background-repeat: no-repeat;
	position: absolute;
    	left: -2.5rem;
	bottom: 1rem;
 }
nav ul li a {
	color: white;
	font-size: 2.56rem;
	align-items: flex-end;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-decoration: none;
}
.logo-1 {
	width: 6vw;
	height: 100%;
	border-right: solid 2px white;
}
.logo-2 {
	width: 33.5vw;
	height: 100%;
	border-left: solid 2px white;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    position: fixed;
    top: 12vh;
    left: 3.1%;
    text-align: center;
}

/**** Stoerer ****/
.stoerer {
  position: absolute;
  top: 50%;
  right: 5%;	
  background-color: #f1e517;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #0780ce;
  flex-direction: column;
}
.stoerer__title {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}
.stoerer__leadtext {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.stoerer__smalltext {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/**** Main Container and fixes ****/
.wrapper {
	top: calc(23vh - 0.8rem);
	position: absolute;
	z-index: -1;
}
.distance_nav {
	height: 20vh;
	width: 100%;
	background-color: blue;
	position: fixed;
	top: 0;
}
.content-max {
	width: 100%;
	/*min-height: 66.2rem;*/
	/*min-height: 80vh;
	height: auto; */
	box-sizing: border-box;
	display: flex;
	align-items: start;
	margin-bottom: 8vh;
}
.content-max:last-of-type {	
	margin-bottom: 0;
}
.content-max:first-of-type {
	
	
}
.content-block {
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	/*min-height: 55.2rem;*/
	/*min-height: 65vh;
	height: auto;*/
	min-height: 65vh;
	border: 0.4rem solid white;
	border-right: none;
	border-left: none;
}

.stretch-content-vertical p:first-child {
	padding-top: 0;
	margin-top: 0;
}
.stretch-content-col-2 p:first-of-type {
	padding-top: 4rem;
	margin-top: 0;
}
ul{
	margin-left: 2.5rem;
	margin-bottom: 2.5rem;
}
li {
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
}
.hgfarbe-start, .hgfarbe-coach {
	background-color: #0780CE;
}
.hgfarbe-service {
	background-color: #479e82;
}
.hgfarbe-tarife {
	background-color: #E87C5A;
}

/**** 4 Felder normal ****/
.content-col-1 {
	width: 6%;
	/*min-height: 100%;
	height: auto;*/
	border-right: 0.2rem solid white;
}
.content-col-2 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 67%;
	/*min-height: 100%;*/
	height: auto;
}
.content-2-1 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-top: none;
	padding: 4rem;
}
.content-2-2 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-top: none;
	background-size: cover;
	background-position: center;
}
.content-2-3 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 2px solid white;
	border-bottom: none;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.content-2-4 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-bottom: none;
}
.content-col-3 {
	width: 27%;
	min-height: 100%;
	height: auto;
	border-left: 0.2rem solid white;
}

/**** 3 Felder, unteres Feld gestreckt über zwei Spalten ****/
.cont-1 {
	width: 6%;
	min-height: 100%;
	border-right: 0.2rem solid white;
}
.cont-2 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	width: 67%;
	min-height: 100%;
}
.cont-3 {
	width: 27%;
	min-height: 100%;
	border-left: 0.2rem solid white;
}
.cont-2-1 {
	width: 50%;
	mmin-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-top: none;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 4rem;
}
.cont-2-2 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-top: none;
	background-size: cover;
	background-position: center;
}
.stretch-content-vertical {
	width: 100%;
	/*min-height: 50%;*/
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-bottom: none;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.cont-2-4 {
	width: 50%;
	min-height: 32.5vh;
	/*height: auto;*/
	border: 0.2rem solid white;
	border-bottom: none;
	background-size: cover;
	background-position: center;
}

/**** 2 Felder gestreckt über zwei Zeilen vertikal ****/
.stretch-content-col-2 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	width: 33.5%;
	min-height: 100%;
	border: 0.2rem solid white;
	border-bottom: none;
	border-top: none;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.stretch-content-col-3 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 33.5%;
	min-height: 100%;
	border: 0.2rem solid white;
	border-bottom: none;
	border-top: none;
	border-right: 0.4rem solid white;
	background-size: cover;
	background-position: center;
}

/**** 2 Felder gestreckt über zwei Zeilen vertikal plus eines breit ****/
.big-content-col-3 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	width: 60.5%;
	min-height: 100%;
	border: 0.2rem solid white;
	border-bottom: none;
	border-top: none;
	border-right: none;
	background-size: cover;
	background-position: center;
}

/**** 1 Feld Impressum und Datenschutz Container ****/
.max-content-max {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.max-content-block {
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	height: auto;
	border: 0.4rem solid white;
	border-right: none;
	border-left: none;
}
.max-content-1 {
	width: 6%;
	height: auto;
	border-right: 0.2rem solid white;
}
.max-content-2 {
	box-sizing: border-box;
	width: 67%;
	height: auto;
	border: 0.2rem solid white;
	border-bottom: none;
	border-top: none;
	border-right: 0.4rem solid white;
	background-size: cover;
	background-position: center;
	padding: 4rem;
}
.max-content-3 {
	width: 27%;
	min-height: 100%;
	height: auto;
	border-left: 0.2rem solid white;
}

@media screen and  (max-width: 1400px) {
	.main-navbar ul {
    		width: auto;
	}
}
@media screen and  (min-width: 1000px) {
/* Nav Mobil */
	.nav-mobil-on-off {
		display: none;
	}
}


@media screen and  (max-width: 1000px) {
/* Nav Desktop */		
	.nav-on-off {
		display: none;
	}
	
/* Nav Mobil */	

    #hamburger-button {
      position: relative;
      z-index: 9999; /*so it never gets lost under something*/
      display: inline-block;
      vertical-align: top;
      height: 1.6rem;
      width: 2.2rem;
      margin-left: 90%;
      margin-top: 4.4rem;
    }

    #hamburger-button:hover {
      cursor: pointer;
      /* changes the cursor to pointer */
    }

    #hamburger-button > span {
      display: block;
      height: 2px;
      margin-bottom: 4px;
      width: 2.2rem;
      background-color: white;
     -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
    transition-duration:1s;
    }

	

    #hamburger-button.open > span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg); /* Chrome, Safari, Opera */
    transform:translateY(6px) rotate(45deg);
    }


    #hamburger-button.open > span:nth-child(2) {
       -webkit-transform: rotateY(90deg); /* Safari */
        transform: rotateY(90deg);
      /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
    }

    #hamburger-button.open > span:last-child {
     -webkit-transform: translateY(-6px) rotate(-45deg); /* Chrome, Safari, Opera */
        transform: translateY(-6px) rotate(-45deg);
    }

    #hamburger-button.open {
	  height: 2rem;
      	  width: 2rem;
    }	

    #hamburger-button.open > span {
	background-color: #0780CE;
	 width: 2.6rem;
    }	

    .navbar{
      position:absolute;
      z-index:888; /*so its above the content but below the burger button*/
      height:100vh;
      width: 100vw;
      right:-100vw;
      transition:1s;
      background-color: white;
	color: #0780CE;
	font-weight: bold
    }
    .navbar.open{
      right:0;
    }
    .navbar p{
        list-style:none;
      margin-top: 7rem;
	margin-left: 5.6rem;
      font-size: 2em;
    line-height: 1.4;
    margin-bottom: 0;	    
    }
	
    .navbar p:last-child {
    list-style:none;
      margin-top: 0;
	margin-left: 5.6rem;
      font-size: 2em;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 0;	   
    }
	
    .navbar ul{
      list-style:none;
      margin-top: 7rem;
	margin-left: 5.6rem;
      font-size: 2em;
    }

    .navbar ul li{
      margin-bottom: 3.8rem;
      text-align:left;
    }
	
    .navbar ul li a{
    color: #0780CE;
    }	
    .navbar ul li:hover::before {
	    position: relative;
		content: "";
		width: 2rem;
		height: 2rem;
		background-image: url(/assets/img/tennisball.svg);
		background-repeat: no-repeat;
		left: -2.5rem;
		bottom: 0.2rem;
    }
.active::before {
	content: "";
    width: 2rem;
    height: 2rem;
    background-image: url(/assets/img/tennisball.svg);
    background-repeat: no-repeat;
position: relative;
    left: -2.5rem;
	bottom: 1rem;
}
/* 4 Felder normal */
	.content-col-2 {
		width: 82%;
	}
	.content-col-3 {
		width: 12%;
	}
/* 3 Felder normal */
	.cont-2 {
		width: 82%;
	}
	.cont-3 {
		width: 12%;
	}
/* 2 Felder normal */
	.stretch-content-col-2 {
		width: 41%;
	}
	.stretch-content-col-3 {
		width: 41%;
	}
	.content-col-4 {
		width: 12%;
	}
/* 2 Felder 1 normal + 1 gross*/
	.big-content-col-3 {
		width: 53%;
	}
}

@media screen and  (max-width: 1000px) {
	.nav-on-off {
		display: none;
	}
}


@media screen and  (max-width: 800px) {
	/* basics */
	ul{
				margin-left: 2.5rem;
				margin-top: 4rem;
	}
	/* block-container */
	.content-max {
		width: 100%;
		min-height: 66.2rem;
	}
	.content-block {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		min-height: 55.2rem;
	}
/* 4 Felder normal */
	.content-col-1 {
		display: none;
	}
	.content-col-2 {
		width: 100%;
	}
	.content-2-1 {
		min-width: 50%;
		border-left: none;
		border-bottom: 0.2rem solid white;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
	}
	.content-2-2 {
		min-width: 50%;
		border-right: none;
		border-bottom: 0.2rem solid white;
		border-top: none;
	}
	.content-2-3 {
		min-width: 50%;
		border-left: none;
		border-top: none;
		border-top: 0.2rem solid white;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.content-2-4 {
		min-width: 50%;
		min-height: 50%;
		border-right: none;
		border-top: none;
		border-top: 0.2rem solid white;
	}
	.content-col-3 {
		display: none;
	}
/* 3 Felder */
	.cont-1 {
		display: none;
	}
	.cont-2 {
		width: 100%;
	}
	.cont-2-1 {
		border-left: none;
		min-width: 50%;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
	}
	.cont-2-2 {
		border-right: none;
		min-width: 50%;
	}
	.stretch-content-vertical {
		min-width: 100%;
		border-left: none;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.cont-3 {
		display: none;
	}
	.stretch-content-col-2 {
		min-width: 50%;
		border-left: none;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.stretch-content-col-3 {
		min-width: 50%;
		border-right: none;
	}
	.big-content-col-3 {
		min-width: 50%;
	}

}

@media screen and (max-width: 479px) {
/* block-container */
	.content-max {
		width: 100%;
		height: auto;
		margin-top: 100px;
	}
	.content-block {
		width: 100%;
		min-height: auto;
		display: flex;
		flex-direction: column;
	}
	/* 4 Felder normal */
  .content-col-1 {
    display: none;
		visibility: hidden;
  }
  .content-col-3 {
    display: none;
		visibility: hidden;
  }
	.content-col-2 {
		min-width: 100%;
		border-left: none;
	}
	.content-2-1 {
		border-left: none;
		border-right: none;
		width: 100%;
		border-bottom: none;
	}
	.content-2-2 {
		width: 100%;
		min-height: 50vh;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
	}
	.content-2-3 {
		width: 100%;
		border-right: none;
		border-left: none;
		border-top: none;
		border-bottom: 0.4rem solid white;
	}
	.content-2-4 {
		display: none;
	}
	.aufbrechen-1 {
		width: 100%;
		min-height: 100%;
	}
	div#divorder2-1 {
		order: 1;
		-webkit-order: 1;
	}
	div#divorder2-2 {
		order: 3;
		-webkit-order: 3;
	}
	div#divorder2-3 {
		order: 2;
		-webkit-order: 2;
	}
	/* 3 Felder normal */
	.cont-1 {
		display: none;
	}
	.cont-2 {
		width: 100%;
	}
	.cont-2-1 {
		border-left: none;
		border-right: none;
		border-bottom: none;
		width: 100%;
		display: flex;
		display: -webkit-flex; /* Safari */
	}
	.cont-2-2 {
		width: 100%;
		min-height: 50vh;
		border-top: 0.4rem solid white;
		border-right: none;
		border-left: none;
		border-bottom: none;
	}
	.stretch-content-vertical {
		width: 100%;
		min-height: auto;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	div#divorder1-1 {
		order: 1;
		-webkit-order: 1;
	}
	div#divorder1-2 {
		order: 3;
		-webkit-order: 3;
	}
	div#divorder1-3 {
		order: 2;
		-webkit-order: 2;
	}
	.cont-3 {
		display: none;
		border-left: none;
	}
	/* 2 Felder normal */
	.stretch-content-col-2 {
		width: 100%;
		height: auto;
		border-left: none;
		border-right: none;
	}
	.stretch-content-col-3 {
		width: 100%;
		min-height: 50vh;
		border-top: 0.4rem solid white;
		border-left: none;
		border-right: none;
	}
/* 2 Felder / 1 normal + 1 gross */
	.big-content-col-3 {
		width: 100%;
		min-height: 50vh;
		border-top: 0.4rem solid white;
		border-left: none;
	}
}




/* footer allgemein */

footer ul li a{
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
}

footer ul {
	list-style-type: none;
}


/* Footer widescreen */
@media screen and (min-width: 1200px){
footer{
width: 70%;
margin: 0 0 6rem 6%;

}

footer ul{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 5rem 2.5rem 0;
}
footer ul li{
display: inline-block;
}

}

/* Footer smartphone */

@media screen and (max-width: 1199px) {
	footer ul{
		margin: 0 0 6rem 6rem;
	}
	footer ul li{
		margin-bottom: 1.2rem;
	}
}
